$color_1: white;
$color_2: black;
$color_3: rgb(18, 142, 1);
$color_4: rgb(233, 233, 233);
$color_5: rgb(150, 147, 147);
$color_6: rgb(218, 38, 203);
$color_7: aqua;
$color_8: rgb(238, 177, 11);
$color_9: rgb(5, 248, 37);
$color_10: rgb(255, 115, 0);
$color_11: whitesmoke;
$color_12: #8ec5fc;
$color_13: #e0c3fc;
$color_14: #4cb3ff;
$color_15: #cf0e0e;
$font-family_1: "Josefin Sans", sans-serif;
$font-family_2: "Heebo", sans-serif;
$background-color_1: aqua;
$background-color_2: white;
$background-color_3: rgb(18, 142, 199);

@import "https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap";
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes arrow {
  0% {
    transform: rotate(180deg) translateY(50px);
  }
  50% {
    transform: rotate(90deg) translateY(-75px);
  }
  100% {
    transform: rotate(180deg) translateY(50px);
  }
}
html {
  height: auto;
  scroll-behavior: smooth;
}
body {
  height: auto;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: $font-family_1;
}
.header {
  padding-top: 1rem;
  height: 7rem;
  width: 100%;
  display: flex;
  filter: drop-shadow(22px 17px 10px #277784);
  justify-content: space-between;
  padding-inline: 5rem;
}
.logo {
  width: 8rem;
  border-radius: 50%;
  transition: all 0.5s;
  cursor: pointer;
  &:hover {
    background-color: $background-color_1;
  }
}
.logo1 {
  width: 25rem;
  animation: spin 5s linear 2s infinite;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
.link {
  color: $color_1;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s;
  padding: 1rem 2rem;
  border-radius: 10px 100px / 120px;
  text-decoration: none;
  &:hover {
    background-color: $background-color_2;
    color: $color_2;
  }
}
.backgr {
  background-image: url(/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -10;
  height: 100vh;
  width: 100%;
}
.main-text {
  width: 50%;
  z-index: 10;
  h1 {
    color: $color_1;
    font-size: 4rem;
    text-align: start;
    width: 70%;
  }
  span {
    display: block;
    margin-block: 3rem;
    font-size: 5rem;
    color: $color_14;
  }
  button {
    color: $color_1;
    background-color: $background-color_3;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      transform: translateY(-10px);
      filter: drop-shadow(0px 50px 35px aqua);
    }
  }
  a {
    text-decoration: none;
  }
}
.section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background: rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
.intro-text {
  color: $color_4;
  font-family: $font-family_2;
  font-size: 3rem;
}
.hide {
  background: black;
  overflow: hidden;
  span {
    transform: translateY(100%);
    display: inline-block;
    font-size: 10rem;
  }
}
#fullPage {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 400vh;
}
.section {
  &:nth-child(2) {
    background-image: url(/back2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.4);
  }
  &:nth-child(3) {
    background-image: url(/back3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  &:nth-child(4) {
    background-image: url(/back4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  height: 100vh;
  width: 100%;
}
.text-2 {
  h1 {
    color: $color_5;
    font-size: 2.3rem;
    margin-block: 1.25rem;
    line-height: 3rem;
  }
  width: 80%;
}
.const {
  color: $color_6;
  font-size: 2.3rem;
}
.equal {
  color: $color_7;
  font-size: 2.3rem;
}
.bracket1 {
  font-size: 2.3rem;
  color: $color_8;
}
.bracket2 {
  font-size: 2.3rem;
  color: $color_6;
}
.text-2-2 {
  color: $color_9;
  font-size: 2.3rem;
}
.number {
  color: $color_10;
  font-size: 2.3rem;
}
.img {
  width: auto;
  img {
    margin-left: 15rem;
    width: 13rem;
    filter: saturate(2.1);
    border: 3px solid rgb(5, 248, 37);
    border-radius: 15px;
    -webkit-box-shadow: 10px 11px 15px 5px #4cb3ff;
    box-shadow: 10px 11px 15px 5px #4cb3ff;
    &:nth-child(1) {
      transform: rotate(-15deg);
    }
    &:nth-child(2) {
      transform: rotate(15deg) translateX(-12rem);
    }
  }
}
#arrow {
  margin: 0;
  width: 5rem;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  transform: rotate(90deg);
  cursor: pointer;
  animation: arrow 3s infinite;
}
#section2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-inline: 5rem;
  overflow: hidden;
}
.home-btn {
  text-decoration: none;
  h1 {
    font-size: 2rem;
    margin-top: 2rem;
    color: $color_7;
    transition: all 0.4s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    &:hover {
      color: $color_1;
    }
  }
}
.sec-3-det {
  margin-block: 0.5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  width: 50%;
  margin-inline: 2rem;
  justify-content: baseline;
  h1 {
    font-size: 2.3rem;
    color: $color_11;
    margin-bottom: 0.4rem;
  }
  p {
    font-size: 1.3rem;
    color: $color_12;
    margin-bottom: 2rem;
  }
  img {
    width: 7rem;
  }
}
.des-text {
  line-height: 2rem;
  a {
    text-decoration: none;
    font-size: 1.3rem;
    color: $color_13;
  }
}
.sec-3-det1 {
  display: flex;
  width: 80%;
}
.sec-3-container {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.parent {
  display: flex;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto 5rem;
  height: 100vh;
  gap: 5rem;
}
.bye-text {
  width: 30%;
  font-size: 5rem;
  color: $color_14;
  text-align: end;
  text-align: center;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  h1 {
    font-size: 2rem;
  }
  a {
    text-decoration: none;
    color: $color_13;
    transition: all 0.5s;
    &:hover {
      color: $color_15;
    }
  }
}
@media screen and (max-width: 1150px) {
  .sec-3-det {
    img {
      width: 7rem;
    }
  }
  .bye-text {
    width: 100%;
  }
}
@media screen and (max-width: 976px) {
  nav {
    width: 70%;
  }
  .logo1 {
    display: none;
  }
  .header {
    flex-direction: column;
    align-items: center;
    padding-inline: 0;
  }
  .main-text {
    h1 {
      width: 100%;
      text-align: center;
      font-size: 2.5rem !important;
    }
    button {
      margin: auto auto;
      display: block;
      font-size: 1.5rem !important;
    }
  }
  span {
    font-size: 2.5rem !important;
  }
  #arrow {
    display: none;
  }
  .img {
    display: none;
  }
  .sec-3-det {
    h1 {
      font-size: 0.7rem;
    }
    gap: 0;
    img {
      width: 5rem;
    }
  }
  .sec-3-det1 {
    p {
      font-size: 0.7rem;
    }
  }
  .parent {
    height: 25rem;
    flex-wrap: wrap;
  }
  .hide {
    span {
      font-size: 6rem;
    }
  }
}
@media screen and (max-width: 576px) {
  nav {
    width: 100%;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    display: none;
  }
  .main-text {
    button {
      margin-left: 1rem;
    }
  }
  .const {
    font-size: 1.5rem !important;
  }
  .equal {
    font-size: 1.5rem !important;
  }
  .bracket1 {
    font-size: 1.5rem !important;
  }
  .bracket2 {
    font-size: 1.5rem !important;
  }
  .text-2-2 {
    font-size: 1.5rem !important;
  }
  #section2 {
    margin-inline: 2rem;
  }
  .text-2 {
    h1 {
      font-size: 1.3rem !important;
    }
    width: 85%;
  }
  .number {
    font-size: 1.5rem !important;
  }
  .bye-text {
    width: 100%;
    font-size: 3rem;
  }
  .sec-3-det1 {
    h1 {
      font-size: 1.5rem;
    }
    p {
      display: none;
    }
  }
  .sec-3-det {
    flex-direction: column;
  }
  .hide {
    span {
      font-size: 3rem;
    }
  }
}
@media screen and (max-width: 376px) {
  .main-text {
    h1 {
      font-size: 3rem;
    }
    span {
      font-size: 3rem !important;
    }
  }
  .const {
    font-size: 1rem !important;
  }
  .equal {
    font-size: 1rem !important;
  }
  .bracket1 {
    font-size: 1rem !important;
  }
  .bracket2 {
    font-size: 1rem !important;
  }
  .text-2-2 {
    font-size: 1rem !important;
  }
  .text-2 {
    h1 {
      font-size: 1rem !important;
    }
  }
  .number {
    font-size: 1rem !important;
  }
  .hide {
    span {
      font-size: 1.3rem;
    }
  }
}

@mixin translate50 {
  -webkit-transform: translate(-50, -50%);
  -ms-transform: translate(-50, -50%);
  -o-transform: translate(-50, -50%);
  transform: translate(-50, -50%);
}

@mixin roundedCorners {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

@mixin rotateBase {
  -webkit-transform: rotate3d(-1, 1, 0, 0deg);
  -ms-transform: rotate3d(-1, 1, 0, 0deg);
  -o-transform: rotate3d(-1, 1, 0, 0deg);
  transform: rotate3d(-1, 1, 0, 0deg);
}

@mixin rotateRight {
  -webkit-transform: rotate3d(-1, 1, 0, 30deg);
  -ms-transform: rotate3d(-1, 1, 0, 30deg);
  -o-transform: rotate3d(-1, 1, 0, 30deg);
  transform: rotate3d(-1, 1, 0, 30deg);
}

@mixin rotateLeft {
  -webkit-transform: rotate3d(-1, 1, 0, -30deg);
  -ms-transform: rotate3d(-1, 1, 0, -30deg);
  -o-transform: rotate3d(-1, 1, 0, -30deg);
  transform: rotate3d(-1, 1, 0, -30deg);
}

// n is number of stars generated
@function generateStars($n) {
  $value: "#{0} #{random(2000)}px #{random(2000)}px #FFF";

  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
  }

  @return unquote($value);
}

$stars-small: generateStars(700);
$stars-medium: generateStars(200);
$stars-big: generateStars(100);

body {
  overflow: hidden;
}

#stars-container {
  height: 400vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #191f24 100%);
  overflow: hidden;
  @include translate50;
  z-index: -99;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $stars-small;
  animation: animateStars 28.5s ease-in-out infinite;
  @include roundedCorners;

  &::after {
    content: " ";
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $stars-small;
    @include roundedCorners;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $stars-medium;
  animation: animateStars 30s ease-in-out infinite;
  @include roundedCorners;

  &::after {
    content: " ";
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $stars-medium;
    @include roundedCorners;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $stars-big;
  animation: animateStars 31.5s ease-in-out infinite;
  @include roundedCorners;

  &:after {
    content: " ";
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $stars-big;
    @include roundedCorners;
  }
}

@keyframes animateStars {
  0% {
    @include rotateBase;
  }
  25% {
    @include rotateRight;
  }
  50% {
    @include rotateBase;
  }
  75% {
    @include rotateLeft;
  }
  100% {
    @include rotateBase;
  }
}
