@import "https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap";
@-webkit-keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes arrow {
  0% {
    transform: rotate(180deg) translateY(50px);
  }
  50% {
    transform: rotate(90deg) translateY(-75px);
  }
  100% {
    transform: rotate(180deg) translateY(50px);
  }
}
@keyframes arrow {
  0% {
    transform: rotate(180deg) translateY(50px);
  }
  50% {
    transform: rotate(90deg) translateY(-75px);
  }
  100% {
    transform: rotate(180deg) translateY(50px);
  }
}
html {
  height: auto;
  scroll-behavior: smooth;
}

body {
  height: auto;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

.header {
  padding-top: 1rem;
  height: 7rem;
  width: 100%;
  display: flex;
  filter: drop-shadow(22px 17px 10px #277784);
  justify-content: space-between;
  padding-inline: 5rem;
}

.logo {
  width: 8rem;
  border-radius: 50%;
  transition: all 0.5s;
  cursor: pointer;
}
.logo:hover {
  background-color: aqua;
}

.logo1 {
  width: 25rem;
  -webkit-animation: spin 5s linear 2s infinite;
          animation: spin 5s linear 2s infinite;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}

.link {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s;
  padding: 1rem 2rem;
  border-radius: 10px 100px/120px;
  text-decoration: none;
}
.link:hover {
  background-color: white;
  color: black;
}

.backgr {
  background-image: url(/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -10;
  height: 100vh;
  width: 100%;
}

.main-text {
  width: 50%;
  z-index: 10;
}
.main-text h1 {
  color: white;
  font-size: 4rem;
  text-align: start;
  width: 70%;
}
.main-text span {
  display: block;
  margin-block: 3rem;
  font-size: 5rem;
  color: #4cb3ff;
}
.main-text button {
  color: white;
  background-color: rgb(18, 142, 199);
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.4s;
}
.main-text button:hover {
  transform: translateY(-10px);
  filter: drop-shadow(0px 50px 35px aqua);
}
.main-text a {
  text-decoration: none;
}

.section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}

.hide {
  background: black;
  overflow: hidden;
}
.hide span {
  transform: translateY(100%);
  display: inline-block;
  font-size: 10rem;
}

#fullPage {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 400vh;
}

.section {
  height: 100vh;
  width: 100%;
}
.section:nth-child(2) {
  background-image: url(/back2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0.4);
}
.section:nth-child(3) {
  background-image: url(/back3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.section:nth-child(4) {
  background-image: url(/back4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.text-2 {
  width: 80%;
}
.text-2 h1 {
  color: rgb(150, 147, 147);
  font-size: 2.3rem;
  margin-block: 1.25rem;
  line-height: 3rem;
}

.const {
  color: rgb(218, 38, 203);
  font-size: 2.3rem;
}

.equal {
  color: aqua;
  font-size: 2.3rem;
}

.bracket1 {
  font-size: 2.3rem;
  color: rgb(238, 177, 11);
}

.bracket2 {
  font-size: 2.3rem;
  color: rgb(218, 38, 203);
}

.text-2-2 {
  color: rgb(5, 248, 37);
  font-size: 2.3rem;
}

.number {
  color: rgb(255, 115, 0);
  font-size: 2.3rem;
}

.img {
  width: auto;
}
.img img {
  margin-left: 15rem;
  width: 13rem;
  filter: saturate(2.1);
  border: 3px solid rgb(5, 248, 37);
  border-radius: 15px;
  box-shadow: 10px 11px 15px 5px #4cb3ff;
}
.img img:nth-child(1) {
  transform: rotate(-15deg);
}
.img img:nth-child(2) {
  transform: rotate(15deg) translateX(-12rem);
}

#arrow {
  margin: 0;
  width: 5rem;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  transform: rotate(90deg);
  cursor: pointer;
  -webkit-animation: arrow 3s infinite;
          animation: arrow 3s infinite;
}

#section2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-inline: 5rem;
  overflow: hidden;
}

.home-btn {
  text-decoration: none;
}
.home-btn h1 {
  font-size: 2rem;
  margin-top: 2rem;
  color: aqua;
  transition: all 0.4s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.home-btn h1:hover {
  color: white;
}

.sec-3-det {
  margin-block: 0.5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  width: 50%;
  margin-inline: 2rem;
  justify-content: baseline;
}
.sec-3-det h1 {
  font-size: 2.3rem;
  color: whitesmoke;
  margin-bottom: 0.4rem;
}
.sec-3-det p {
  font-size: 1.3rem;
  color: #8ec5fc;
  margin-bottom: 2rem;
}
.sec-3-det img {
  width: 7rem;
}

.des-text {
  line-height: 2rem;
}
.des-text a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #e0c3fc;
}

.sec-3-det1 {
  display: flex;
  width: 80%;
}

.sec-3-container {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.parent {
  display: flex;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto 5rem;
  height: 100vh;
  gap: 5rem;
}

.bye-text {
  width: 30%;
  font-size: 5rem;
  color: #4cb3ff;
  text-align: end;
  text-align: center;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.icons h1 {
  font-size: 2rem;
}
.icons a {
  text-decoration: none;
  color: #e0c3fc;
  transition: all 0.5s;
}
.icons a:hover {
  color: #cf0e0e;
}

@media screen and (max-width: 1150px) {
  .sec-3-det img {
    width: 7rem;
  }
  .bye-text {
    width: 100%;
  }
}
@media screen and (max-width: 976px) {
  nav {
    width: 70%;
  }
  .logo1 {
    display: none;
  }
  .header {
    flex-direction: column;
    align-items: center;
    padding-inline: 0;
  }
  .main-text h1 {
    width: 100%;
    text-align: center;
    font-size: 2.5rem !important;
  }
  .main-text button {
    margin: auto auto;
    display: block;
    font-size: 1.5rem !important;
  }
  span {
    font-size: 2.5rem !important;
  }
  #arrow {
    display: none;
  }
  .img {
    display: none;
  }
  .sec-3-det {
    gap: 0;
  }
  .sec-3-det h1 {
    font-size: 0.7rem;
  }
  .sec-3-det img {
    width: 5rem;
  }
  .sec-3-det1 p {
    font-size: 0.7rem;
  }
  .parent {
    height: 25rem;
    flex-wrap: wrap;
  }
  .hide span {
    font-size: 6rem;
  }
}
@media screen and (max-width: 576px) {
  nav {
    width: 100%;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    display: none;
  }
  .main-text button {
    margin-left: 1rem;
  }
  .const {
    font-size: 1.5rem !important;
  }
  .equal {
    font-size: 1.5rem !important;
  }
  .bracket1 {
    font-size: 1.5rem !important;
  }
  .bracket2 {
    font-size: 1.5rem !important;
  }
  .text-2-2 {
    font-size: 1.5rem !important;
  }
  #section2 {
    margin-inline: 2rem;
  }
  .text-2 {
    width: 85%;
  }
  .text-2 h1 {
    font-size: 1.3rem !important;
  }
  .number {
    font-size: 1.5rem !important;
  }
  .bye-text {
    width: 100%;
    font-size: 3rem;
  }
  .sec-3-det1 h1 {
    font-size: 1.5rem;
  }
  .sec-3-det1 p {
    display: none;
  }
  .sec-3-det {
    flex-direction: column;
  }
  .hide span {
    font-size: 3rem;
  }
}
@media screen and (max-width: 376px) {
  .main-text h1 {
    font-size: 3rem;
  }
  .main-text span {
    font-size: 3rem !important;
  }
  .const {
    font-size: 1rem !important;
  }
  .equal {
    font-size: 1rem !important;
  }
  .bracket1 {
    font-size: 1rem !important;
  }
  .bracket2 {
    font-size: 1rem !important;
  }
  .text-2-2 {
    font-size: 1rem !important;
  }
  .text-2 h1 {
    font-size: 1rem !important;
  }
  .number {
    font-size: 1rem !important;
  }
  .hide span {
    font-size: 1.3rem;
  }
}
body {
  overflow: hidden;
}

#stars-container {
  height: 400vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #191f24 100%);
  overflow: hidden;
  transform: translate(-50, -50%);
  z-index: -99;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 0 963px 1709px #FFF , 1717px 254px #FFF , 1381px 1331px #FFF , 807px 922px #FFF , 1074px 1381px #FFF , 509px 14px #FFF , 1121px 1350px #FFF , 1026px 1532px #FFF , 779px 737px #FFF , 992px 1240px #FFF , 1638px 1794px #FFF , 104px 1158px #FFF , 923px 42px #FFF , 250px 1995px #FFF , 1105px 574px #FFF , 1150px 256px #FFF , 1243px 959px #FFF , 1828px 1527px #FFF , 1284px 1729px #FFF , 1130px 655px #FFF , 816px 993px #FFF , 1078px 1681px #FFF , 1362px 1253px #FFF , 440px 161px #FFF , 1239px 1561px #FFF , 850px 534px #FFF , 579px 1085px #FFF , 435px 313px #FFF , 1146px 674px #FFF , 1822px 1978px #FFF , 351px 1268px #FFF , 801px 311px #FFF , 649px 1921px #FFF , 1471px 342px #FFF , 1524px 702px #FFF , 1316px 1450px #FFF , 1889px 1027px #FFF , 1554px 1758px #FFF , 868px 1424px #FFF , 408px 263px #FFF , 1944px 465px #FFF , 1030px 1698px #FFF , 1291px 871px #FFF , 1926px 830px #FFF , 737px 1255px #FFF , 135px 1400px #FFF , 1433px 955px #FFF , 1921px 1998px #FFF , 90px 206px #FFF , 35px 724px #FFF , 1917px 969px #FFF , 13px 1470px #FFF , 861px 482px #FFF , 310px 158px #FFF , 185px 1956px #FFF , 466px 1569px #FFF , 835px 1661px #FFF , 1927px 1045px #FFF , 387px 736px #FFF , 1665px 1824px #FFF , 570px 1861px #FFF , 1958px 850px #FFF , 299px 697px #FFF , 667px 1417px #FFF , 684px 1092px #FFF , 1483px 1184px #FFF , 25px 1882px #FFF , 122px 301px #FFF , 500px 1592px #FFF , 990px 1771px #FFF , 1697px 912px #FFF , 1434px 1711px #FFF , 547px 784px #FFF , 1125px 1380px #FFF , 1821px 1603px #FFF , 545px 969px #FFF , 133px 1556px #FFF , 1319px 63px #FFF , 1492px 1793px #FFF , 1409px 356px #FFF , 490px 423px #FFF , 326px 392px #FFF , 29px 1104px #FFF , 1806px 1730px #FFF , 581px 1088px #FFF , 41px 1728px #FFF , 1716px 145px #FFF , 1658px 24px #FFF , 1871px 1645px #FFF , 669px 529px #FFF , 122px 572px #FFF , 1619px 1624px #FFF , 1084px 1030px #FFF , 1498px 523px #FFF , 1390px 1286px #FFF , 846px 765px #FFF , 1934px 1651px #FFF , 538px 774px #FFF , 478px 777px #FFF , 1624px 1845px #FFF , 727px 1562px #FFF , 804px 330px #FFF , 362px 1795px #FFF , 104px 1635px #FFF , 543px 628px #FFF , 1072px 1923px #FFF , 668px 937px #FFF , 1440px 1795px #FFF , 15px 1367px #FFF , 1362px 1817px #FFF , 1989px 352px #FFF , 1310px 1591px #FFF , 189px 318px #FFF , 1499px 1502px #FFF , 498px 282px #FFF , 938px 1311px #FFF , 1581px 1732px #FFF , 1983px 198px #FFF , 1897px 1414px #FFF , 18px 855px #FFF , 313px 1177px #FFF , 398px 1763px #FFF , 112px 215px #FFF , 1187px 518px #FFF , 133px 1672px #FFF , 288px 588px #FFF , 116px 1186px #FFF , 1094px 981px #FFF , 1267px 296px #FFF , 1095px 1964px #FFF , 1125px 350px #FFF , 401px 1418px #FFF , 986px 828px #FFF , 378px 1829px #FFF , 1062px 662px #FFF , 1628px 190px #FFF , 1827px 629px #FFF , 532px 1701px #FFF , 1219px 525px #FFF , 1863px 1698px #FFF , 145px 597px #FFF , 258px 639px #FFF , 165px 882px #FFF , 1779px 1392px #FFF , 872px 433px #FFF , 1965px 322px #FFF , 206px 1519px #FFF , 1911px 327px #FFF , 564px 991px #FFF , 572px 1866px #FFF , 171px 1276px #FFF , 699px 1015px #FFF , 377px 1511px #FFF , 1038px 1170px #FFF , 514px 895px #FFF , 182px 781px #FFF , 1971px 656px #FFF , 986px 1260px #FFF , 911px 973px #FFF , 1768px 607px #FFF , 349px 1514px #FFF , 360px 1731px #FFF , 1304px 56px #FFF , 1396px 731px #FFF , 1549px 1020px #FFF , 1890px 225px #FFF , 1614px 1823px #FFF , 196px 551px #FFF , 199px 522px #FFF , 1204px 32px #FFF , 22px 1947px #FFF , 1996px 12px #FFF , 563px 1491px #FFF , 1414px 1509px #FFF , 1128px 255px #FFF , 1515px 1395px #FFF , 238px 1785px #FFF , 938px 536px #FFF , 32px 1264px #FFF , 1415px 230px #FFF , 954px 1707px #FFF , 71px 1152px #FFF , 1100px 1663px #FFF , 255px 1223px #FFF , 1463px 1855px #FFF , 1308px 297px #FFF , 25px 1059px #FFF , 1167px 1132px #FFF , 575px 129px #FFF , 1127px 1413px #FFF , 1927px 1643px #FFF , 286px 1698px #FFF , 1633px 745px #FFF , 5px 108px #FFF , 360px 1547px #FFF , 993px 413px #FFF , 237px 306px #FFF , 393px 1725px #FFF , 945px 1125px #FFF , 1835px 1174px #FFF , 544px 335px #FFF , 84px 1636px #FFF , 1224px 1582px #FFF , 1810px 52px #FFF , 364px 1120px #FFF , 1452px 1971px #FFF , 1702px 1779px #FFF , 709px 308px #FFF , 1269px 67px #FFF , 899px 74px #FFF , 1473px 439px #FFF , 1480px 1305px #FFF , 722px 1631px #FFF , 227px 1944px #FFF , 375px 1475px #FFF , 110px 488px #FFF , 788px 3px #FFF , 128px 979px #FFF , 1349px 612px #FFF , 920px 31px #FFF , 742px 1259px #FFF , 1045px 40px #FFF , 1188px 1758px #FFF , 923px 1777px #FFF , 228px 1760px #FFF , 468px 972px #FFF , 1104px 986px #FFF , 847px 757px #FFF , 1181px 1791px #FFF , 780px 767px #FFF , 1259px 1196px #FFF , 902px 1382px #FFF , 1129px 1606px #FFF , 170px 120px #FFF , 1226px 708px #FFF , 793px 883px #FFF , 1404px 1569px #FFF , 1843px 1688px #FFF , 916px 1800px #FFF , 488px 1403px #FFF , 492px 237px #FFF , 1061px 1838px #FFF , 1224px 887px #FFF , 282px 1966px #FFF , 1998px 1513px #FFF , 394px 1130px #FFF , 1318px 1600px #FFF , 1634px 465px #FFF , 1809px 1240px #FFF , 1383px 283px #FFF , 1228px 32px #FFF , 284px 495px #FFF , 449px 1152px #FFF , 1306px 299px #FFF , 1652px 1492px #FFF , 146px 170px #FFF , 1611px 1445px #FFF , 851px 1214px #FFF , 641px 1219px #FFF , 1979px 1679px #FFF , 709px 1320px #FFF , 40px 694px #FFF , 1767px 1288px #FFF , 1984px 913px #FFF , 214px 428px #FFF , 1081px 952px #FFF , 1189px 1893px #FFF , 1351px 1956px #FFF , 1931px 1050px #FFF , 1940px 1116px #FFF , 1826px 1341px #FFF , 1029px 954px #FFF , 1981px 1117px #FFF , 1385px 1900px #FFF , 777px 1022px #FFF , 532px 905px #FFF , 1097px 332px #FFF , 1059px 1280px #FFF , 1253px 80px #FFF , 1154px 1667px #FFF , 1152px 457px #FFF , 1211px 685px #FFF , 9px 1493px #FFF , 308px 1803px #FFF , 1625px 106px #FFF , 1101px 25px #FFF , 321px 1018px #FFF , 875px 1663px #FFF , 747px 71px #FFF , 602px 287px #FFF , 240px 918px #FFF , 1604px 1220px #FFF , 1822px 1942px #FFF , 1747px 1406px #FFF , 1275px 1438px #FFF , 356px 1990px #FFF , 241px 632px #FFF , 496px 1180px #FFF , 2000px 1638px #FFF , 1223px 1826px #FFF , 1453px 1445px #FFF , 1999px 758px #FFF , 1016px 921px #FFF , 1780px 1301px #FFF , 1340px 1666px #FFF , 1818px 107px #FFF , 380px 1427px #FFF , 1520px 1460px #FFF , 104px 1226px #FFF , 1998px 743px #FFF , 1861px 1786px #FFF , 1307px 847px #FFF , 756px 1335px #FFF , 231px 1544px #FFF , 1746px 1425px #FFF , 12px 1287px #FFF , 1767px 114px #FFF , 560px 857px #FFF , 1931px 1711px #FFF , 634px 1555px #FFF , 1091px 1105px #FFF , 363px 1592px #FFF , 1191px 1035px #FFF , 220px 616px #FFF , 1490px 290px #FFF , 1593px 340px #FFF , 1095px 715px #FFF , 282px 1360px #FFF , 1289px 1303px #FFF , 265px 324px #FFF , 1821px 913px #FFF , 438px 593px #FFF , 404px 853px #FFF , 1071px 166px #FFF , 695px 312px #FFF , 1364px 1945px #FFF , 804px 758px #FFF , 1661px 641px #FFF , 822px 1168px #FFF , 779px 353px #FFF , 1993px 1284px #FFF , 833px 965px #FFF , 467px 442px #FFF , 1629px 947px #FFF , 106px 1654px #FFF , 1505px 1436px #FFF , 558px 1458px #FFF , 1567px 1566px #FFF , 511px 1926px #FFF , 182px 754px #FFF , 1969px 900px #FFF , 1699px 1496px #FFF , 1326px 883px #FFF , 869px 1738px #FFF , 1796px 1693px #FFF , 1919px 395px #FFF , 954px 741px #FFF , 504px 12px #FFF , 395px 921px #FFF , 1374px 683px #FFF , 1764px 1343px #FFF , 280px 668px #FFF , 284px 1972px #FFF , 441px 339px #FFF , 303px 100px #FFF , 614px 1616px #FFF , 198px 1120px #FFF , 1174px 1951px #FFF , 719px 330px #FFF , 538px 831px #FFF , 49px 1959px #FFF , 1274px 1556px #FFF , 736px 557px #FFF , 1924px 1452px #FFF , 437px 430px #FFF , 824px 154px #FFF , 1745px 531px #FFF , 605px 39px #FFF , 1257px 1051px #FFF , 1886px 272px #FFF , 772px 328px #FFF , 1062px 1505px #FFF , 1941px 794px #FFF , 1672px 1359px #FFF , 841px 1390px #FFF , 430px 568px #FFF , 564px 1662px #FFF , 274px 1733px #FFF , 1218px 1483px #FFF , 929px 15px #FFF , 994px 1666px #FFF , 880px 479px #FFF , 1378px 136px #FFF , 1709px 722px #FFF , 1399px 52px #FFF , 947px 984px #FFF , 932px 168px #FFF , 1528px 1012px #FFF , 540px 629px #FFF , 1639px 311px #FFF , 116px 453px #FFF , 1064px 676px #FFF , 1546px 689px #FFF , 837px 1280px #FFF , 1485px 330px #FFF , 90px 1096px #FFF , 1080px 1228px #FFF , 1969px 1378px #FFF , 1754px 63px #FFF , 1774px 1250px #FFF , 846px 445px #FFF , 1428px 1677px #FFF , 197px 74px #FFF , 1923px 1px #FFF , 1797px 1391px #FFF , 1423px 314px #FFF , 72px 1475px #FFF , 1303px 453px #FFF , 832px 1194px #FFF , 195px 1777px #FFF , 514px 1555px #FFF , 1239px 1545px #FFF , 1183px 949px #FFF , 1686px 550px #FFF , 1072px 1524px #FFF , 958px 677px #FFF , 1858px 1139px #FFF , 1476px 588px #FFF , 779px 1964px #FFF , 1122px 561px #FFF , 1073px 233px #FFF , 826px 749px #FFF , 774px 144px #FFF , 1603px 598px #FFF , 492px 991px #FFF , 1678px 1056px #FFF , 288px 1192px #FFF , 908px 369px #FFF , 530px 1998px #FFF , 951px 912px #FFF , 1152px 1947px #FFF , 478px 1881px #FFF , 165px 1133px #FFF , 15px 1803px #FFF , 641px 277px #FFF , 1994px 93px #FFF , 154px 1291px #FFF , 1781px 893px #FFF , 1528px 750px #FFF , 59px 1970px #FFF , 1063px 1470px #FFF , 1103px 1623px #FFF , 1080px 709px #FFF , 291px 595px #FFF , 133px 1712px #FFF , 329px 1908px #FFF , 1997px 200px #FFF , 181px 1970px #FFF , 1771px 150px #FFF , 749px 620px #FFF , 982px 1165px #FFF , 1723px 1376px #FFF , 1399px 323px #FFF , 365px 987px #FFF , 519px 610px #FFF , 837px 1188px #FFF , 722px 1949px #FFF , 1615px 1035px #FFF , 1425px 455px #FFF , 1702px 1636px #FFF , 1562px 127px #FFF , 1722px 1054px #FFF , 233px 1980px #FFF , 557px 851px #FFF , 845px 1209px #FFF , 327px 1074px #FFF , 1211px 1873px #FFF , 905px 846px #FFF , 1978px 557px #FFF , 332px 170px #FFF , 1914px 1512px #FFF , 1278px 1351px #FFF , 1068px 42px #FFF , 1969px 607px #FFF , 947px 430px #FFF , 1515px 997px #FFF , 1061px 1119px #FFF , 1406px 733px #FFF , 1872px 626px #FFF , 1623px 825px #FFF , 1334px 1819px #FFF , 430px 857px #FFF , 142px 561px #FFF , 969px 979px #FFF , 272px 254px #FFF , 981px 720px #FFF , 173px 938px #FFF , 1048px 1196px #FFF , 1792px 899px #FFF , 1720px 1521px #FFF , 1395px 1305px #FFF , 766px 1216px #FFF , 1781px 1037px #FFF , 738px 524px #FFF , 264px 250px #FFF , 1940px 1132px #FFF , 1728px 779px #FFF , 1203px 514px #FFF , 1645px 1450px #FFF , 855px 572px #FFF , 1005px 1218px #FFF , 126px 1825px #FFF , 1865px 31px #FFF , 1818px 925px #FFF , 216px 1719px #FFF , 922px 803px #FFF , 1857px 230px #FFF , 1852px 194px #FFF , 461px 111px #FFF , 1193px 1256px #FFF , 545px 871px #FFF , 263px 1559px #FFF , 1032px 986px #FFF , 828px 1692px #FFF , 1969px 1349px #FFF , 1857px 1852px #FFF , 126px 741px #FFF , 548px 25px #FFF , 1169px 826px #FFF , 939px 564px #FFF , 266px 496px #FFF , 1397px 1712px #FFF , 803px 1686px #FFF , 1833px 443px #FFF , 1630px 143px #FFF , 1366px 1056px #FFF , 337px 637px #FFF , 736px 1744px #FFF , 572px 618px #FFF , 1827px 641px #FFF , 299px 726px #FFF , 551px 632px #FFF , 851px 147px #FFF , 228px 1035px #FFF , 1262px 1440px #FFF , 1463px 1908px #FFF , 1849px 263px #FFF , 1680px 1952px #FFF , 1868px 981px #FFF , 880px 1340px #FFF , 529px 1875px #FFF , 21px 574px #FFF , 1268px 1540px #FFF , 1197px 765px #FFF , 427px 283px #FFF , 1660px 1846px #FFF , 307px 688px #FFF , 77px 804px #FFF , 1507px 1011px #FFF , 1447px 1624px #FFF , 122px 1591px #FFF , 1906px 1377px #FFF , 1844px 855px #FFF , 1208px 747px #FFF , 1820px 844px #FFF , 1141px 1507px #FFF , 351px 1703px #FFF , 1383px 357px #FFF , 1365px 431px #FFF , 579px 414px #FFF , 1898px 31px #FFF , 1936px 74px #FFF , 299px 1981px #FFF , 1275px 357px #FFF , 478px 686px #FFF , 1012px 1440px #FFF , 1960px 805px #FFF , 1942px 1065px #FFF , 904px 80px #FFF , 87px 1421px #FFF , 1828px 1759px #FFF , 790px 60px #FFF , 1878px 989px #FFF , 1324px 1383px #FFF , 1507px 454px #FFF , 1668px 65px #FFF , 1519px 67px #FFF , 1018px 1033px #FFF , 1042px 813px #FFF , 1874px 173px #FFF , 167px 1046px #FFF , 464px 130px #FFF , 1879px 133px #FFF , 1680px 33px #FFF , 148px 1106px #FFF , 833px 1943px #FFF , 1443px 791px #FFF , 40px 628px #FFF , 526px 1635px #FFF , 908px 855px #FFF , 393px 1248px #FFF , 1392px 1114px #FFF , 1881px 1300px #FFF , 285px 1768px #FFF , 1675px 1914px #FFF , 1158px 124px #FFF , 302px 248px #FFF , 200px 1039px #FFF , 1951px 1266px #FFF , 1689px 1333px #FFF , 1407px 324px #FFF , 1118px 1672px #FFF , 240px 501px #FFF , 1596px 486px #FFF , 1335px 1633px #FFF , 707px 1405px #FFF , 1624px 634px #FFF , 263px 1996px #FFF , 1054px 1384px #FFF , 1751px 885px #FFF , 81px 195px #FFF , 1554px 983px #FFF , 1283px 1680px #FFF , 1025px 915px #FFF , 1422px 1769px #FFF , 569px 260px #FFF , 1371px 204px #FFF , 1056px 1063px #FFF , 1766px 1509px #FFF , 478px 734px #FFF , 1457px 773px #FFF , 1816px 588px #FFF , 372px 191px #FFF , 1102px 1565px #FFF , 1657px 764px #FFF , 101px 1216px #FFF , 936px 1303px #FFF , 22px 1290px #FFF , 1916px 1660px #FFF , 872px 1175px #FFF , 1366px 1660px #FFF , 1101px 747px #FFF , 1803px 484px #FFF , 639px 1458px #FFF , 1960px 1286px #FFF , 344px 1832px #FFF , 880px 1646px #FFF , 1897px 1215px #FFF , 1734px 1847px #FFF , 77px 1532px #FFF , 1967px 1273px #FFF , 908px 389px #FFF , 1929px 888px #FFF , 1405px 1681px #FFF , 1075px 1629px #FFF , 619px 1072px #FFF , 156px 1064px #FFF , 443px 90px #FFF , 62px 698px #FFF , 1278px 342px #FFF , 1459px 361px #FFF , 663px 1937px #FFF , 1309px 1242px #FFF , 525px 1244px #FFF , 1586px 347px #FFF , 1687px 306px #FFF , 1093px 1360px #FFF , 1124px 1178px #FFF , 1309px 492px #FFF , 212px 549px #FFF , 456px 963px #FFF , 1691px 1934px #FFF , 1391px 1437px #FFF , 336px 1697px #FFF , 356px 1360px #FFF , 1047px 1088px #FFF , 313px 1150px #FFF , 1913px 967px #FFF , 1212px 107px #FFF , 1365px 121px #FFF , 1977px 546px #FFF , 1646px 528px #FFF , 734px 1518px #FFF , 612px 1857px #FFF , 462px 987px #FFF , 1977px 1832px #FFF , 488px 1974px #FFF , 1097px 1399px #FFF , 1566px 645px #FFF , 1462px 408px #FFF , 32px 887px #FFF , 873px 1882px #FFF , 1927px 58px #FFF , 1998px 463px #FFF , 790px 1146px #FFF , 1944px 469px #FFF , 1467px 877px #FFF , 991px 1114px #FFF , 1184px 1791px #FFF , 723px 1193px #FFF;
  -webkit-animation: animateStars 28.5s ease-in-out infinite;
          animation: animateStars 28.5s ease-in-out infinite;
  border-radius: 50%;
}
#stars::after {
  content: " ";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 0 963px 1709px #FFF , 1717px 254px #FFF , 1381px 1331px #FFF , 807px 922px #FFF , 1074px 1381px #FFF , 509px 14px #FFF , 1121px 1350px #FFF , 1026px 1532px #FFF , 779px 737px #FFF , 992px 1240px #FFF , 1638px 1794px #FFF , 104px 1158px #FFF , 923px 42px #FFF , 250px 1995px #FFF , 1105px 574px #FFF , 1150px 256px #FFF , 1243px 959px #FFF , 1828px 1527px #FFF , 1284px 1729px #FFF , 1130px 655px #FFF , 816px 993px #FFF , 1078px 1681px #FFF , 1362px 1253px #FFF , 440px 161px #FFF , 1239px 1561px #FFF , 850px 534px #FFF , 579px 1085px #FFF , 435px 313px #FFF , 1146px 674px #FFF , 1822px 1978px #FFF , 351px 1268px #FFF , 801px 311px #FFF , 649px 1921px #FFF , 1471px 342px #FFF , 1524px 702px #FFF , 1316px 1450px #FFF , 1889px 1027px #FFF , 1554px 1758px #FFF , 868px 1424px #FFF , 408px 263px #FFF , 1944px 465px #FFF , 1030px 1698px #FFF , 1291px 871px #FFF , 1926px 830px #FFF , 737px 1255px #FFF , 135px 1400px #FFF , 1433px 955px #FFF , 1921px 1998px #FFF , 90px 206px #FFF , 35px 724px #FFF , 1917px 969px #FFF , 13px 1470px #FFF , 861px 482px #FFF , 310px 158px #FFF , 185px 1956px #FFF , 466px 1569px #FFF , 835px 1661px #FFF , 1927px 1045px #FFF , 387px 736px #FFF , 1665px 1824px #FFF , 570px 1861px #FFF , 1958px 850px #FFF , 299px 697px #FFF , 667px 1417px #FFF , 684px 1092px #FFF , 1483px 1184px #FFF , 25px 1882px #FFF , 122px 301px #FFF , 500px 1592px #FFF , 990px 1771px #FFF , 1697px 912px #FFF , 1434px 1711px #FFF , 547px 784px #FFF , 1125px 1380px #FFF , 1821px 1603px #FFF , 545px 969px #FFF , 133px 1556px #FFF , 1319px 63px #FFF , 1492px 1793px #FFF , 1409px 356px #FFF , 490px 423px #FFF , 326px 392px #FFF , 29px 1104px #FFF , 1806px 1730px #FFF , 581px 1088px #FFF , 41px 1728px #FFF , 1716px 145px #FFF , 1658px 24px #FFF , 1871px 1645px #FFF , 669px 529px #FFF , 122px 572px #FFF , 1619px 1624px #FFF , 1084px 1030px #FFF , 1498px 523px #FFF , 1390px 1286px #FFF , 846px 765px #FFF , 1934px 1651px #FFF , 538px 774px #FFF , 478px 777px #FFF , 1624px 1845px #FFF , 727px 1562px #FFF , 804px 330px #FFF , 362px 1795px #FFF , 104px 1635px #FFF , 543px 628px #FFF , 1072px 1923px #FFF , 668px 937px #FFF , 1440px 1795px #FFF , 15px 1367px #FFF , 1362px 1817px #FFF , 1989px 352px #FFF , 1310px 1591px #FFF , 189px 318px #FFF , 1499px 1502px #FFF , 498px 282px #FFF , 938px 1311px #FFF , 1581px 1732px #FFF , 1983px 198px #FFF , 1897px 1414px #FFF , 18px 855px #FFF , 313px 1177px #FFF , 398px 1763px #FFF , 112px 215px #FFF , 1187px 518px #FFF , 133px 1672px #FFF , 288px 588px #FFF , 116px 1186px #FFF , 1094px 981px #FFF , 1267px 296px #FFF , 1095px 1964px #FFF , 1125px 350px #FFF , 401px 1418px #FFF , 986px 828px #FFF , 378px 1829px #FFF , 1062px 662px #FFF , 1628px 190px #FFF , 1827px 629px #FFF , 532px 1701px #FFF , 1219px 525px #FFF , 1863px 1698px #FFF , 145px 597px #FFF , 258px 639px #FFF , 165px 882px #FFF , 1779px 1392px #FFF , 872px 433px #FFF , 1965px 322px #FFF , 206px 1519px #FFF , 1911px 327px #FFF , 564px 991px #FFF , 572px 1866px #FFF , 171px 1276px #FFF , 699px 1015px #FFF , 377px 1511px #FFF , 1038px 1170px #FFF , 514px 895px #FFF , 182px 781px #FFF , 1971px 656px #FFF , 986px 1260px #FFF , 911px 973px #FFF , 1768px 607px #FFF , 349px 1514px #FFF , 360px 1731px #FFF , 1304px 56px #FFF , 1396px 731px #FFF , 1549px 1020px #FFF , 1890px 225px #FFF , 1614px 1823px #FFF , 196px 551px #FFF , 199px 522px #FFF , 1204px 32px #FFF , 22px 1947px #FFF , 1996px 12px #FFF , 563px 1491px #FFF , 1414px 1509px #FFF , 1128px 255px #FFF , 1515px 1395px #FFF , 238px 1785px #FFF , 938px 536px #FFF , 32px 1264px #FFF , 1415px 230px #FFF , 954px 1707px #FFF , 71px 1152px #FFF , 1100px 1663px #FFF , 255px 1223px #FFF , 1463px 1855px #FFF , 1308px 297px #FFF , 25px 1059px #FFF , 1167px 1132px #FFF , 575px 129px #FFF , 1127px 1413px #FFF , 1927px 1643px #FFF , 286px 1698px #FFF , 1633px 745px #FFF , 5px 108px #FFF , 360px 1547px #FFF , 993px 413px #FFF , 237px 306px #FFF , 393px 1725px #FFF , 945px 1125px #FFF , 1835px 1174px #FFF , 544px 335px #FFF , 84px 1636px #FFF , 1224px 1582px #FFF , 1810px 52px #FFF , 364px 1120px #FFF , 1452px 1971px #FFF , 1702px 1779px #FFF , 709px 308px #FFF , 1269px 67px #FFF , 899px 74px #FFF , 1473px 439px #FFF , 1480px 1305px #FFF , 722px 1631px #FFF , 227px 1944px #FFF , 375px 1475px #FFF , 110px 488px #FFF , 788px 3px #FFF , 128px 979px #FFF , 1349px 612px #FFF , 920px 31px #FFF , 742px 1259px #FFF , 1045px 40px #FFF , 1188px 1758px #FFF , 923px 1777px #FFF , 228px 1760px #FFF , 468px 972px #FFF , 1104px 986px #FFF , 847px 757px #FFF , 1181px 1791px #FFF , 780px 767px #FFF , 1259px 1196px #FFF , 902px 1382px #FFF , 1129px 1606px #FFF , 170px 120px #FFF , 1226px 708px #FFF , 793px 883px #FFF , 1404px 1569px #FFF , 1843px 1688px #FFF , 916px 1800px #FFF , 488px 1403px #FFF , 492px 237px #FFF , 1061px 1838px #FFF , 1224px 887px #FFF , 282px 1966px #FFF , 1998px 1513px #FFF , 394px 1130px #FFF , 1318px 1600px #FFF , 1634px 465px #FFF , 1809px 1240px #FFF , 1383px 283px #FFF , 1228px 32px #FFF , 284px 495px #FFF , 449px 1152px #FFF , 1306px 299px #FFF , 1652px 1492px #FFF , 146px 170px #FFF , 1611px 1445px #FFF , 851px 1214px #FFF , 641px 1219px #FFF , 1979px 1679px #FFF , 709px 1320px #FFF , 40px 694px #FFF , 1767px 1288px #FFF , 1984px 913px #FFF , 214px 428px #FFF , 1081px 952px #FFF , 1189px 1893px #FFF , 1351px 1956px #FFF , 1931px 1050px #FFF , 1940px 1116px #FFF , 1826px 1341px #FFF , 1029px 954px #FFF , 1981px 1117px #FFF , 1385px 1900px #FFF , 777px 1022px #FFF , 532px 905px #FFF , 1097px 332px #FFF , 1059px 1280px #FFF , 1253px 80px #FFF , 1154px 1667px #FFF , 1152px 457px #FFF , 1211px 685px #FFF , 9px 1493px #FFF , 308px 1803px #FFF , 1625px 106px #FFF , 1101px 25px #FFF , 321px 1018px #FFF , 875px 1663px #FFF , 747px 71px #FFF , 602px 287px #FFF , 240px 918px #FFF , 1604px 1220px #FFF , 1822px 1942px #FFF , 1747px 1406px #FFF , 1275px 1438px #FFF , 356px 1990px #FFF , 241px 632px #FFF , 496px 1180px #FFF , 2000px 1638px #FFF , 1223px 1826px #FFF , 1453px 1445px #FFF , 1999px 758px #FFF , 1016px 921px #FFF , 1780px 1301px #FFF , 1340px 1666px #FFF , 1818px 107px #FFF , 380px 1427px #FFF , 1520px 1460px #FFF , 104px 1226px #FFF , 1998px 743px #FFF , 1861px 1786px #FFF , 1307px 847px #FFF , 756px 1335px #FFF , 231px 1544px #FFF , 1746px 1425px #FFF , 12px 1287px #FFF , 1767px 114px #FFF , 560px 857px #FFF , 1931px 1711px #FFF , 634px 1555px #FFF , 1091px 1105px #FFF , 363px 1592px #FFF , 1191px 1035px #FFF , 220px 616px #FFF , 1490px 290px #FFF , 1593px 340px #FFF , 1095px 715px #FFF , 282px 1360px #FFF , 1289px 1303px #FFF , 265px 324px #FFF , 1821px 913px #FFF , 438px 593px #FFF , 404px 853px #FFF , 1071px 166px #FFF , 695px 312px #FFF , 1364px 1945px #FFF , 804px 758px #FFF , 1661px 641px #FFF , 822px 1168px #FFF , 779px 353px #FFF , 1993px 1284px #FFF , 833px 965px #FFF , 467px 442px #FFF , 1629px 947px #FFF , 106px 1654px #FFF , 1505px 1436px #FFF , 558px 1458px #FFF , 1567px 1566px #FFF , 511px 1926px #FFF , 182px 754px #FFF , 1969px 900px #FFF , 1699px 1496px #FFF , 1326px 883px #FFF , 869px 1738px #FFF , 1796px 1693px #FFF , 1919px 395px #FFF , 954px 741px #FFF , 504px 12px #FFF , 395px 921px #FFF , 1374px 683px #FFF , 1764px 1343px #FFF , 280px 668px #FFF , 284px 1972px #FFF , 441px 339px #FFF , 303px 100px #FFF , 614px 1616px #FFF , 198px 1120px #FFF , 1174px 1951px #FFF , 719px 330px #FFF , 538px 831px #FFF , 49px 1959px #FFF , 1274px 1556px #FFF , 736px 557px #FFF , 1924px 1452px #FFF , 437px 430px #FFF , 824px 154px #FFF , 1745px 531px #FFF , 605px 39px #FFF , 1257px 1051px #FFF , 1886px 272px #FFF , 772px 328px #FFF , 1062px 1505px #FFF , 1941px 794px #FFF , 1672px 1359px #FFF , 841px 1390px #FFF , 430px 568px #FFF , 564px 1662px #FFF , 274px 1733px #FFF , 1218px 1483px #FFF , 929px 15px #FFF , 994px 1666px #FFF , 880px 479px #FFF , 1378px 136px #FFF , 1709px 722px #FFF , 1399px 52px #FFF , 947px 984px #FFF , 932px 168px #FFF , 1528px 1012px #FFF , 540px 629px #FFF , 1639px 311px #FFF , 116px 453px #FFF , 1064px 676px #FFF , 1546px 689px #FFF , 837px 1280px #FFF , 1485px 330px #FFF , 90px 1096px #FFF , 1080px 1228px #FFF , 1969px 1378px #FFF , 1754px 63px #FFF , 1774px 1250px #FFF , 846px 445px #FFF , 1428px 1677px #FFF , 197px 74px #FFF , 1923px 1px #FFF , 1797px 1391px #FFF , 1423px 314px #FFF , 72px 1475px #FFF , 1303px 453px #FFF , 832px 1194px #FFF , 195px 1777px #FFF , 514px 1555px #FFF , 1239px 1545px #FFF , 1183px 949px #FFF , 1686px 550px #FFF , 1072px 1524px #FFF , 958px 677px #FFF , 1858px 1139px #FFF , 1476px 588px #FFF , 779px 1964px #FFF , 1122px 561px #FFF , 1073px 233px #FFF , 826px 749px #FFF , 774px 144px #FFF , 1603px 598px #FFF , 492px 991px #FFF , 1678px 1056px #FFF , 288px 1192px #FFF , 908px 369px #FFF , 530px 1998px #FFF , 951px 912px #FFF , 1152px 1947px #FFF , 478px 1881px #FFF , 165px 1133px #FFF , 15px 1803px #FFF , 641px 277px #FFF , 1994px 93px #FFF , 154px 1291px #FFF , 1781px 893px #FFF , 1528px 750px #FFF , 59px 1970px #FFF , 1063px 1470px #FFF , 1103px 1623px #FFF , 1080px 709px #FFF , 291px 595px #FFF , 133px 1712px #FFF , 329px 1908px #FFF , 1997px 200px #FFF , 181px 1970px #FFF , 1771px 150px #FFF , 749px 620px #FFF , 982px 1165px #FFF , 1723px 1376px #FFF , 1399px 323px #FFF , 365px 987px #FFF , 519px 610px #FFF , 837px 1188px #FFF , 722px 1949px #FFF , 1615px 1035px #FFF , 1425px 455px #FFF , 1702px 1636px #FFF , 1562px 127px #FFF , 1722px 1054px #FFF , 233px 1980px #FFF , 557px 851px #FFF , 845px 1209px #FFF , 327px 1074px #FFF , 1211px 1873px #FFF , 905px 846px #FFF , 1978px 557px #FFF , 332px 170px #FFF , 1914px 1512px #FFF , 1278px 1351px #FFF , 1068px 42px #FFF , 1969px 607px #FFF , 947px 430px #FFF , 1515px 997px #FFF , 1061px 1119px #FFF , 1406px 733px #FFF , 1872px 626px #FFF , 1623px 825px #FFF , 1334px 1819px #FFF , 430px 857px #FFF , 142px 561px #FFF , 969px 979px #FFF , 272px 254px #FFF , 981px 720px #FFF , 173px 938px #FFF , 1048px 1196px #FFF , 1792px 899px #FFF , 1720px 1521px #FFF , 1395px 1305px #FFF , 766px 1216px #FFF , 1781px 1037px #FFF , 738px 524px #FFF , 264px 250px #FFF , 1940px 1132px #FFF , 1728px 779px #FFF , 1203px 514px #FFF , 1645px 1450px #FFF , 855px 572px #FFF , 1005px 1218px #FFF , 126px 1825px #FFF , 1865px 31px #FFF , 1818px 925px #FFF , 216px 1719px #FFF , 922px 803px #FFF , 1857px 230px #FFF , 1852px 194px #FFF , 461px 111px #FFF , 1193px 1256px #FFF , 545px 871px #FFF , 263px 1559px #FFF , 1032px 986px #FFF , 828px 1692px #FFF , 1969px 1349px #FFF , 1857px 1852px #FFF , 126px 741px #FFF , 548px 25px #FFF , 1169px 826px #FFF , 939px 564px #FFF , 266px 496px #FFF , 1397px 1712px #FFF , 803px 1686px #FFF , 1833px 443px #FFF , 1630px 143px #FFF , 1366px 1056px #FFF , 337px 637px #FFF , 736px 1744px #FFF , 572px 618px #FFF , 1827px 641px #FFF , 299px 726px #FFF , 551px 632px #FFF , 851px 147px #FFF , 228px 1035px #FFF , 1262px 1440px #FFF , 1463px 1908px #FFF , 1849px 263px #FFF , 1680px 1952px #FFF , 1868px 981px #FFF , 880px 1340px #FFF , 529px 1875px #FFF , 21px 574px #FFF , 1268px 1540px #FFF , 1197px 765px #FFF , 427px 283px #FFF , 1660px 1846px #FFF , 307px 688px #FFF , 77px 804px #FFF , 1507px 1011px #FFF , 1447px 1624px #FFF , 122px 1591px #FFF , 1906px 1377px #FFF , 1844px 855px #FFF , 1208px 747px #FFF , 1820px 844px #FFF , 1141px 1507px #FFF , 351px 1703px #FFF , 1383px 357px #FFF , 1365px 431px #FFF , 579px 414px #FFF , 1898px 31px #FFF , 1936px 74px #FFF , 299px 1981px #FFF , 1275px 357px #FFF , 478px 686px #FFF , 1012px 1440px #FFF , 1960px 805px #FFF , 1942px 1065px #FFF , 904px 80px #FFF , 87px 1421px #FFF , 1828px 1759px #FFF , 790px 60px #FFF , 1878px 989px #FFF , 1324px 1383px #FFF , 1507px 454px #FFF , 1668px 65px #FFF , 1519px 67px #FFF , 1018px 1033px #FFF , 1042px 813px #FFF , 1874px 173px #FFF , 167px 1046px #FFF , 464px 130px #FFF , 1879px 133px #FFF , 1680px 33px #FFF , 148px 1106px #FFF , 833px 1943px #FFF , 1443px 791px #FFF , 40px 628px #FFF , 526px 1635px #FFF , 908px 855px #FFF , 393px 1248px #FFF , 1392px 1114px #FFF , 1881px 1300px #FFF , 285px 1768px #FFF , 1675px 1914px #FFF , 1158px 124px #FFF , 302px 248px #FFF , 200px 1039px #FFF , 1951px 1266px #FFF , 1689px 1333px #FFF , 1407px 324px #FFF , 1118px 1672px #FFF , 240px 501px #FFF , 1596px 486px #FFF , 1335px 1633px #FFF , 707px 1405px #FFF , 1624px 634px #FFF , 263px 1996px #FFF , 1054px 1384px #FFF , 1751px 885px #FFF , 81px 195px #FFF , 1554px 983px #FFF , 1283px 1680px #FFF , 1025px 915px #FFF , 1422px 1769px #FFF , 569px 260px #FFF , 1371px 204px #FFF , 1056px 1063px #FFF , 1766px 1509px #FFF , 478px 734px #FFF , 1457px 773px #FFF , 1816px 588px #FFF , 372px 191px #FFF , 1102px 1565px #FFF , 1657px 764px #FFF , 101px 1216px #FFF , 936px 1303px #FFF , 22px 1290px #FFF , 1916px 1660px #FFF , 872px 1175px #FFF , 1366px 1660px #FFF , 1101px 747px #FFF , 1803px 484px #FFF , 639px 1458px #FFF , 1960px 1286px #FFF , 344px 1832px #FFF , 880px 1646px #FFF , 1897px 1215px #FFF , 1734px 1847px #FFF , 77px 1532px #FFF , 1967px 1273px #FFF , 908px 389px #FFF , 1929px 888px #FFF , 1405px 1681px #FFF , 1075px 1629px #FFF , 619px 1072px #FFF , 156px 1064px #FFF , 443px 90px #FFF , 62px 698px #FFF , 1278px 342px #FFF , 1459px 361px #FFF , 663px 1937px #FFF , 1309px 1242px #FFF , 525px 1244px #FFF , 1586px 347px #FFF , 1687px 306px #FFF , 1093px 1360px #FFF , 1124px 1178px #FFF , 1309px 492px #FFF , 212px 549px #FFF , 456px 963px #FFF , 1691px 1934px #FFF , 1391px 1437px #FFF , 336px 1697px #FFF , 356px 1360px #FFF , 1047px 1088px #FFF , 313px 1150px #FFF , 1913px 967px #FFF , 1212px 107px #FFF , 1365px 121px #FFF , 1977px 546px #FFF , 1646px 528px #FFF , 734px 1518px #FFF , 612px 1857px #FFF , 462px 987px #FFF , 1977px 1832px #FFF , 488px 1974px #FFF , 1097px 1399px #FFF , 1566px 645px #FFF , 1462px 408px #FFF , 32px 887px #FFF , 873px 1882px #FFF , 1927px 58px #FFF , 1998px 463px #FFF , 790px 1146px #FFF , 1944px 469px #FFF , 1467px 877px #FFF , 991px 1114px #FFF , 1184px 1791px #FFF , 723px 1193px #FFF;
  border-radius: 50%;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 0 1555px 1350px #FFF , 523px 634px #FFF , 526px 1589px #FFF , 1767px 1731px #FFF , 49px 1313px #FFF , 882px 1088px #FFF , 1690px 657px #FFF , 1521px 1839px #FFF , 1190px 1828px #FFF , 586px 1555px #FFF , 1669px 847px #FFF , 417px 1547px #FFF , 1754px 1095px #FFF , 691px 643px #FFF , 1582px 1264px #FFF , 1122px 433px #FFF , 1509px 894px #FFF , 631px 256px #FFF , 1798px 991px #FFF , 1564px 730px #FFF , 1156px 1774px #FFF , 1241px 477px #FFF , 1596px 128px #FFF , 749px 900px #FFF , 164px 1154px #FFF , 95px 120px #FFF , 118px 318px #FFF , 212px 1244px #FFF , 64px 578px #FFF , 864px 161px #FFF , 1080px 848px #FFF , 1370px 970px #FFF , 1817px 395px #FFF , 859px 27px #FFF , 1633px 1129px #FFF , 768px 1566px #FFF , 1462px 714px #FFF , 1011px 147px #FFF , 1054px 50px #FFF , 1849px 1976px #FFF , 1309px 1154px #FFF , 1970px 713px #FFF , 1800px 1616px #FFF , 994px 314px #FFF , 1424px 1924px #FFF , 1191px 1102px #FFF , 1002px 776px #FFF , 1766px 1362px #FFF , 890px 832px #FFF , 151px 714px #FFF , 1903px 1310px #FFF , 556px 1528px #FFF , 1890px 117px #FFF , 605px 225px #FFF , 1368px 902px #FFF , 1077px 864px #FFF , 1013px 1643px #FFF , 1029px 1661px #FFF , 1355px 984px #FFF , 1228px 552px #FFF , 1113px 1216px #FFF , 1722px 1542px #FFF , 1130px 1782px #FFF , 783px 1194px #FFF , 852px 1356px #FFF , 1819px 820px #FFF , 620px 95px #FFF , 502px 8px #FFF , 1352px 1181px #FFF , 143px 1118px #FFF , 1390px 1365px #FFF , 1250px 1179px #FFF , 1528px 1048px #FFF , 644px 1667px #FFF , 1689px 1720px #FFF , 1151px 35px #FFF , 21px 1177px #FFF , 1405px 96px #FFF , 203px 1313px #FFF , 1252px 1525px #FFF , 444px 164px #FFF , 825px 1004px #FFF , 75px 1282px #FFF , 1708px 602px #FFF , 1243px 1393px #FFF , 1238px 1806px #FFF , 115px 325px #FFF , 435px 1650px #FFF , 218px 433px #FFF , 1310px 729px #FFF , 1058px 1164px #FFF , 6px 682px #FFF , 1600px 1082px #FFF , 62px 271px #FFF , 1380px 897px #FFF , 1847px 591px #FFF , 366px 1887px #FFF , 996px 75px #FFF , 14px 1089px #FFF , 1331px 1887px #FFF , 80px 1736px #FFF , 1876px 1462px #FFF , 1323px 267px #FFF , 629px 1906px #FFF , 811px 82px #FFF , 82px 196px #FFF , 101px 1741px #FFF , 657px 625px #FFF , 179px 615px #FFF , 205px 1741px #FFF , 1817px 225px #FFF , 1397px 1241px #FFF , 199px 1130px #FFF , 221px 649px #FFF , 380px 812px #FFF , 1422px 616px #FFF , 1687px 1765px #FFF , 795px 915px #FFF , 1802px 689px #FFF , 942px 804px #FFF , 918px 716px #FFF , 1988px 1663px #FFF , 608px 715px #FFF , 1182px 1942px #FFF , 1293px 1213px #FFF , 1806px 1279px #FFF , 424px 576px #FFF , 1956px 1570px #FFF , 910px 1025px #FFF , 1407px 1709px #FFF , 1335px 1641px #FFF , 409px 62px #FFF , 1723px 1099px #FFF , 795px 1057px #FFF , 858px 1091px #FFF , 93px 105px #FFF , 184px 521px #FFF , 716px 1501px #FFF , 1994px 1895px #FFF , 709px 1971px #FFF , 1927px 1354px #FFF , 1226px 497px #FFF , 108px 399px #FFF , 178px 1358px #FFF , 461px 1727px #FFF , 4px 48px #FFF , 217px 1415px #FFF , 933px 1614px #FFF , 631px 521px #FFF , 1726px 45px #FFF , 249px 495px #FFF , 1901px 1555px #FFF , 97px 669px #FFF , 309px 180px #FFF , 869px 1023px #FFF , 688px 1326px #FFF , 905px 1381px #FFF , 1597px 1745px #FFF , 1211px 1649px #FFF , 1716px 1029px #FFF , 1046px 1184px #FFF , 1610px 670px #FFF , 1928px 1614px #FFF , 413px 234px #FFF , 1982px 397px #FFF , 1083px 509px #FFF , 1765px 1019px #FFF , 154px 829px #FFF , 1537px 904px #FFF , 1340px 587px #FFF , 1827px 365px #FFF , 1338px 49px #FFF , 1658px 1248px #FFF , 1398px 569px #FFF , 1795px 99px #FFF , 223px 1824px #FFF , 1969px 69px #FFF , 1030px 778px #FFF , 692px 1912px #FFF , 1396px 1462px #FFF , 1705px 406px #FFF , 696px 531px #FFF , 1771px 209px #FFF , 1756px 1538px #FFF , 1636px 129px #FFF , 336px 227px #FFF , 644px 1040px #FFF , 255px 1313px #FFF , 929px 155px #FFF , 1104px 1016px #FFF , 598px 1811px #FFF , 1111px 1510px #FFF , 1640px 811px #FFF , 1630px 1290px #FFF , 661px 1842px #FFF , 346px 696px #FFF , 1685px 1051px #FFF , 633px 1753px #FFF , 1706px 1799px #FFF , 1781px 14px #FFF;
  -webkit-animation: animateStars 30s ease-in-out infinite;
          animation: animateStars 30s ease-in-out infinite;
  border-radius: 50%;
}
#stars2::after {
  content: " ";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 0 1555px 1350px #FFF , 523px 634px #FFF , 526px 1589px #FFF , 1767px 1731px #FFF , 49px 1313px #FFF , 882px 1088px #FFF , 1690px 657px #FFF , 1521px 1839px #FFF , 1190px 1828px #FFF , 586px 1555px #FFF , 1669px 847px #FFF , 417px 1547px #FFF , 1754px 1095px #FFF , 691px 643px #FFF , 1582px 1264px #FFF , 1122px 433px #FFF , 1509px 894px #FFF , 631px 256px #FFF , 1798px 991px #FFF , 1564px 730px #FFF , 1156px 1774px #FFF , 1241px 477px #FFF , 1596px 128px #FFF , 749px 900px #FFF , 164px 1154px #FFF , 95px 120px #FFF , 118px 318px #FFF , 212px 1244px #FFF , 64px 578px #FFF , 864px 161px #FFF , 1080px 848px #FFF , 1370px 970px #FFF , 1817px 395px #FFF , 859px 27px #FFF , 1633px 1129px #FFF , 768px 1566px #FFF , 1462px 714px #FFF , 1011px 147px #FFF , 1054px 50px #FFF , 1849px 1976px #FFF , 1309px 1154px #FFF , 1970px 713px #FFF , 1800px 1616px #FFF , 994px 314px #FFF , 1424px 1924px #FFF , 1191px 1102px #FFF , 1002px 776px #FFF , 1766px 1362px #FFF , 890px 832px #FFF , 151px 714px #FFF , 1903px 1310px #FFF , 556px 1528px #FFF , 1890px 117px #FFF , 605px 225px #FFF , 1368px 902px #FFF , 1077px 864px #FFF , 1013px 1643px #FFF , 1029px 1661px #FFF , 1355px 984px #FFF , 1228px 552px #FFF , 1113px 1216px #FFF , 1722px 1542px #FFF , 1130px 1782px #FFF , 783px 1194px #FFF , 852px 1356px #FFF , 1819px 820px #FFF , 620px 95px #FFF , 502px 8px #FFF , 1352px 1181px #FFF , 143px 1118px #FFF , 1390px 1365px #FFF , 1250px 1179px #FFF , 1528px 1048px #FFF , 644px 1667px #FFF , 1689px 1720px #FFF , 1151px 35px #FFF , 21px 1177px #FFF , 1405px 96px #FFF , 203px 1313px #FFF , 1252px 1525px #FFF , 444px 164px #FFF , 825px 1004px #FFF , 75px 1282px #FFF , 1708px 602px #FFF , 1243px 1393px #FFF , 1238px 1806px #FFF , 115px 325px #FFF , 435px 1650px #FFF , 218px 433px #FFF , 1310px 729px #FFF , 1058px 1164px #FFF , 6px 682px #FFF , 1600px 1082px #FFF , 62px 271px #FFF , 1380px 897px #FFF , 1847px 591px #FFF , 366px 1887px #FFF , 996px 75px #FFF , 14px 1089px #FFF , 1331px 1887px #FFF , 80px 1736px #FFF , 1876px 1462px #FFF , 1323px 267px #FFF , 629px 1906px #FFF , 811px 82px #FFF , 82px 196px #FFF , 101px 1741px #FFF , 657px 625px #FFF , 179px 615px #FFF , 205px 1741px #FFF , 1817px 225px #FFF , 1397px 1241px #FFF , 199px 1130px #FFF , 221px 649px #FFF , 380px 812px #FFF , 1422px 616px #FFF , 1687px 1765px #FFF , 795px 915px #FFF , 1802px 689px #FFF , 942px 804px #FFF , 918px 716px #FFF , 1988px 1663px #FFF , 608px 715px #FFF , 1182px 1942px #FFF , 1293px 1213px #FFF , 1806px 1279px #FFF , 424px 576px #FFF , 1956px 1570px #FFF , 910px 1025px #FFF , 1407px 1709px #FFF , 1335px 1641px #FFF , 409px 62px #FFF , 1723px 1099px #FFF , 795px 1057px #FFF , 858px 1091px #FFF , 93px 105px #FFF , 184px 521px #FFF , 716px 1501px #FFF , 1994px 1895px #FFF , 709px 1971px #FFF , 1927px 1354px #FFF , 1226px 497px #FFF , 108px 399px #FFF , 178px 1358px #FFF , 461px 1727px #FFF , 4px 48px #FFF , 217px 1415px #FFF , 933px 1614px #FFF , 631px 521px #FFF , 1726px 45px #FFF , 249px 495px #FFF , 1901px 1555px #FFF , 97px 669px #FFF , 309px 180px #FFF , 869px 1023px #FFF , 688px 1326px #FFF , 905px 1381px #FFF , 1597px 1745px #FFF , 1211px 1649px #FFF , 1716px 1029px #FFF , 1046px 1184px #FFF , 1610px 670px #FFF , 1928px 1614px #FFF , 413px 234px #FFF , 1982px 397px #FFF , 1083px 509px #FFF , 1765px 1019px #FFF , 154px 829px #FFF , 1537px 904px #FFF , 1340px 587px #FFF , 1827px 365px #FFF , 1338px 49px #FFF , 1658px 1248px #FFF , 1398px 569px #FFF , 1795px 99px #FFF , 223px 1824px #FFF , 1969px 69px #FFF , 1030px 778px #FFF , 692px 1912px #FFF , 1396px 1462px #FFF , 1705px 406px #FFF , 696px 531px #FFF , 1771px 209px #FFF , 1756px 1538px #FFF , 1636px 129px #FFF , 336px 227px #FFF , 644px 1040px #FFF , 255px 1313px #FFF , 929px 155px #FFF , 1104px 1016px #FFF , 598px 1811px #FFF , 1111px 1510px #FFF , 1640px 811px #FFF , 1630px 1290px #FFF , 661px 1842px #FFF , 346px 696px #FFF , 1685px 1051px #FFF , 633px 1753px #FFF , 1706px 1799px #FFF , 1781px 14px #FFF;
  border-radius: 50%;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 0 1750px 295px #FFF , 981px 1700px #FFF , 638px 1565px #FFF , 1989px 1329px #FFF , 1817px 690px #FFF , 414px 1026px #FFF , 778px 1973px #FFF , 1219px 1612px #FFF , 1179px 1380px #FFF , 1881px 1330px #FFF , 799px 487px #FFF , 1141px 347px #FFF , 369px 675px #FFF , 918px 498px #FFF , 891px 1932px #FFF , 1211px 553px #FFF , 263px 1059px #FFF , 1598px 233px #FFF , 938px 1710px #FFF , 220px 1382px #FFF , 1885px 666px #FFF , 1114px 144px #FFF , 713px 420px #FFF , 660px 518px #FFF , 908px 1531px #FFF , 1400px 1588px #FFF , 66px 320px #FFF , 1087px 1011px #FFF , 481px 722px #FFF , 1830px 27px #FFF , 1374px 719px #FFF , 481px 276px #FFF , 1118px 1651px #FFF , 386px 45px #FFF , 1732px 65px #FFF , 46px 1519px #FFF , 63px 712px #FFF , 1383px 676px #FFF , 1744px 1197px #FFF , 462px 1842px #FFF , 825px 1016px #FFF , 1672px 735px #FFF , 861px 1663px #FFF , 1614px 1715px #FFF , 309px 1287px #FFF , 334px 1169px #FFF , 1504px 272px #FFF , 701px 842px #FFF , 956px 1206px #FFF , 1271px 721px #FFF , 1171px 517px #FFF , 1023px 1389px #FFF , 1294px 1708px #FFF , 1759px 200px #FFF , 1516px 197px #FFF , 896px 956px #FFF , 289px 235px #FFF , 1848px 1845px #FFF , 1887px 486px #FFF , 730px 1820px #FFF , 1863px 1757px #FFF , 1279px 1163px #FFF , 199px 1484px #FFF , 722px 1414px #FFF , 1600px 1941px #FFF , 1610px 323px #FFF , 1948px 1640px #FFF , 120px 1292px #FFF , 747px 1646px #FFF , 1585px 60px #FFF , 82px 1135px #FFF , 1581px 602px #FFF , 1382px 1356px #FFF , 57px 719px #FFF , 1168px 287px #FFF , 1155px 1716px #FFF , 564px 656px #FFF , 1822px 1945px #FFF , 1035px 1950px #FFF , 1944px 1329px #FFF , 540px 1174px #FFF , 1424px 1184px #FFF , 1963px 863px #FFF , 203px 1506px #FFF , 1003px 1301px #FFF , 1450px 301px #FFF , 1818px 1125px #FFF , 288px 1894px #FFF , 145px 1021px #FFF , 1295px 83px #FFF , 1260px 54px #FFF , 1178px 1616px #FFF , 1517px 415px #FFF , 574px 1713px #FFF , 751px 1581px #FFF , 657px 1850px #FFF , 706px 535px #FFF , 1556px 110px #FFF , 1669px 68px #FFF , 784px 535px #FFF;
  -webkit-animation: animateStars 31.5s ease-in-out infinite;
          animation: animateStars 31.5s ease-in-out infinite;
  border-radius: 50%;
}
#stars3:after {
  content: " ";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 0 1750px 295px #FFF , 981px 1700px #FFF , 638px 1565px #FFF , 1989px 1329px #FFF , 1817px 690px #FFF , 414px 1026px #FFF , 778px 1973px #FFF , 1219px 1612px #FFF , 1179px 1380px #FFF , 1881px 1330px #FFF , 799px 487px #FFF , 1141px 347px #FFF , 369px 675px #FFF , 918px 498px #FFF , 891px 1932px #FFF , 1211px 553px #FFF , 263px 1059px #FFF , 1598px 233px #FFF , 938px 1710px #FFF , 220px 1382px #FFF , 1885px 666px #FFF , 1114px 144px #FFF , 713px 420px #FFF , 660px 518px #FFF , 908px 1531px #FFF , 1400px 1588px #FFF , 66px 320px #FFF , 1087px 1011px #FFF , 481px 722px #FFF , 1830px 27px #FFF , 1374px 719px #FFF , 481px 276px #FFF , 1118px 1651px #FFF , 386px 45px #FFF , 1732px 65px #FFF , 46px 1519px #FFF , 63px 712px #FFF , 1383px 676px #FFF , 1744px 1197px #FFF , 462px 1842px #FFF , 825px 1016px #FFF , 1672px 735px #FFF , 861px 1663px #FFF , 1614px 1715px #FFF , 309px 1287px #FFF , 334px 1169px #FFF , 1504px 272px #FFF , 701px 842px #FFF , 956px 1206px #FFF , 1271px 721px #FFF , 1171px 517px #FFF , 1023px 1389px #FFF , 1294px 1708px #FFF , 1759px 200px #FFF , 1516px 197px #FFF , 896px 956px #FFF , 289px 235px #FFF , 1848px 1845px #FFF , 1887px 486px #FFF , 730px 1820px #FFF , 1863px 1757px #FFF , 1279px 1163px #FFF , 199px 1484px #FFF , 722px 1414px #FFF , 1600px 1941px #FFF , 1610px 323px #FFF , 1948px 1640px #FFF , 120px 1292px #FFF , 747px 1646px #FFF , 1585px 60px #FFF , 82px 1135px #FFF , 1581px 602px #FFF , 1382px 1356px #FFF , 57px 719px #FFF , 1168px 287px #FFF , 1155px 1716px #FFF , 564px 656px #FFF , 1822px 1945px #FFF , 1035px 1950px #FFF , 1944px 1329px #FFF , 540px 1174px #FFF , 1424px 1184px #FFF , 1963px 863px #FFF , 203px 1506px #FFF , 1003px 1301px #FFF , 1450px 301px #FFF , 1818px 1125px #FFF , 288px 1894px #FFF , 145px 1021px #FFF , 1295px 83px #FFF , 1260px 54px #FFF , 1178px 1616px #FFF , 1517px 415px #FFF , 574px 1713px #FFF , 751px 1581px #FFF , 657px 1850px #FFF , 706px 535px #FFF , 1556px 110px #FFF , 1669px 68px #FFF , 784px 535px #FFF;
  border-radius: 50%;
}

@-webkit-keyframes animateStars {
  0% {
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  25% {
    transform: rotate3d(-1, 1, 0, 30deg);
  }
  50% {
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  75% {
    transform: rotate3d(-1, 1, 0, -30deg);
  }
  100% {
    transform: rotate3d(-1, 1, 0, 0deg);
  }
}

@keyframes animateStars {
  0% {
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  25% {
    transform: rotate3d(-1, 1, 0, 30deg);
  }
  50% {
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  75% {
    transform: rotate3d(-1, 1, 0, -30deg);
  }
  100% {
    transform: rotate3d(-1, 1, 0, 0deg);
  }
}/*# sourceMappingURL=style.css.map */